# ---------- Python ----------
__pycache__/
*.py[cod]
*$py.class

# ---------- Virtual Environment ----------
Backend/venv/

# ---------- Django ----------
*.log
db.sqlite3
db.sqlite3-journal
media/
staticfiles/

# Migrations cache (NO elimina migrations reales)
**/__pycache__/

# ---------- VSCode ----------
.vscode/

# ---------- React / Node ----------
Frontend/node_modules/
Frontend/dist/

# ---------- Environment Variables ----------
.env
*.env

# ---------- OS ----------
.DS_Store
Thumbs.db

# ---------- Oracle ----------
*.dbf
*.dmp
*.ora

# Oracle client / SQL Developer logs opcionales
*.trc
*.aud