# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual Environment
Backend/venv/

# Django
*.log
db.sqlite3
media/
staticfiles/

# VSCode
.vscode/

# React / Node
Frontend/node_modules/

# Environment Variables
.env

# OS
.DS_Store
Thumbs.db